* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(5, 27, 105);
  background: radial-gradient(
    circle,
    rgba(5, 27, 105, 1) 0%,
    rgba(10, 14, 28, 1) 100%
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  background-color: rgb(2, 2, 9);
  width: 100%;
  position: fixed;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  padding: 20px;
  list-style: none;
  border: 1px solid gray;
}
nav a {
  text-decoration: none;
  color: aqua;
  font-size: 2rem;
}
#home,
.sec {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home h1 {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 6rem;
  color: rgb(220, 20, 167);
  text-shadow: 3px 3px 3px aqua;
}
#cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  width: 600px;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.662);
  border-radius: 10px;
  align-items: center;
  text-align: center;
}
.input,
.output {
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
}
.output {
  background-color: rgba(10, 14, 28, 1);
  color: rgb(210, 198, 198);
  font-size: 1.5rem;
}
.btn {
  padding: 16px;
  border-radius: 10px;
  background-color: rgb(220, 20, 167);
  border: none;
  font-size: 1.5rem;
  color: rgb(210, 198, 198);
  box-shadow: 4px 4px 4px rgba(10, 14, 28, 1);
}
h3 {
  font-size: 3rem;
  color: aqua;
  margin-top: 100px;
}
#netSalary {
  background-color: aqua;
  color: black;
  font-weight: 500;
}
